workflows/n8n_workflows.json
[
  {
    "name": "Lead Reception & Qualification",
    "nodes": [
      {
        "parameters": {
          "httpMethod": {"__rl": true, "mode": "list", "value": "POST"},
          "path": "lead-calificacion",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "node-webhook-1",
        "name": "Webhook Trigger",
        "type": "@n8n/n8n-nodes-base.webhook",
        "typeVersion": 2.2,
        "webhookId": "lead-calificacion",
        "position": [250, 300]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst body = d.body || d;\nlet score = 0;\nlet tag = \"lead_frio\";\n\nif (body.email && body.email.includes(\"@\")) score += 20;\nif (body.telefono && body.telefono.length > 7) score += 25;\nif (body.empresa) score += 15;\nif (body.mensaje && body.mensaje.length > 20) score += 20;\nif (body.interes === \"plataforma completa\") { score += 20; tag = \"lead_quente\"; }\nelse if (body.interes === \"automatizacion\") { score += 15; tag = \"lead_morno\"; }\n\nconst empresaTam = body.empleados || \"\";\nif (empresaTam.includes(\"21\") || empresaTam.includes(\"50\")) { score += 15; tag = \"lead_quente\"; }\nif (empresaTam.includes(\"51\")) { score += 20; tag = \"lead_quente\"; }\n\nreturn [{json: {...body, lead_score: score, lead_tag: tag, timestamp: new Date().toISOString()}}];"
        },
        "id": "node-code-1",
        "name": "Calificar Lead",
        "type": "@n8n/n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [550, 300]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst isQuente = d.lead_score >= 50;\nreturn [{json: {...d, ruta: isQuente ? \"quente\" : \"frio\"}}];"
        },
        "id": "node-code-2",
        "name": "Decidir Ruta",
        "type": "@n8n/n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [850, 300]
      },
      {
        "parameters": {
          "conditions": {
            "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
            "conditions": [{"id": "cond-1", "leftValue": "={{ $json.ruta }}", "rightValue": "=quente", "operator": {"type": "string", "operation": "equals"}}],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-if-1",
        "name": "Es Lead Quente?",
        "type": "@n8n/n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [1150, 300]
      },
      {
        "parameters": {
          "to": "={{ $json.email }}",
          "subject": "Gracias por tu interes, {{ $json.nombre }} - Sural",
          "text": "=Hola {{ $json.nombre }},\\n\\nGracias por tu interes en Sural. Vimos que te interesa {{ $json.interes }} - es exactamente lo que automatizamos todos los dias.\\n\\nNuestro equipo se comunicara contigo en las proximas 2 horas para agendar una demo personalizada.\\n\\nEquipo Sural",
          "options": {}
        },
        "id": "node-email-1",
        "name": "Email Bienvenida quente",
        "type": "@n8n/n8n-nodes-base.emailSend",
        "typeVersion": 1.6,
        "position": [1450, 150]
      },
      {
        "parameters": {
          "to": "={{ $json.email }}",
          "subject": "Hola {{ $json.nombre }}, tenemos algo para vos - Sural",
          "text": "=Hola {{ $json.nombre }},\\n\\nGracias por contactingarnos. En Sural ayudamos a empresas como la tuya a automatizar procesos y aumentar ventas.\\n\\nTe dejamos algunos recursos:\\n- Agenda una demo de 15 minutos aqui\\n- Ves nuestro video de presentacion\\n\\nAbrazo,\\nEquipo Sural",
          "options": {}
        },
        "id": "node-email-2",
        "name": "Email Bienvenida frio",
        "type": "@n8n/n8n-nodes-base.emailSend",
        "typeVersion": 1.6,
        "position": [1450, 450]
      },
      {
        "parameters": {
          "respondWith": {"__rl": true, "mode": "json", "value": "{\"status\": \"ok\", \"message\": \"Lead recibido y calificado\"}"},
          "options": {}
        },
        "id": "node-respond-1",
        "name": "Responder",
        "type": "@n8n/n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [1750, 300]
      }
    ],
    "connections": {
      "Webhook Trigger": {"main": [[{"node": "Calificar Lead", "type": "main", "index": 0}]]},
      "Calificar Lead": {"main": [[{"node": "Decidir Ruta", "type": "main", "index": 0}]]},
      "Decidir Ruta": {"main": [[{"node": "Es Lead Quente?", "type": "main", "index": 0}]]},
      "Es Lead Quente?": {"main": [[{"node": "Email Bienvenida quente", "type": "main", "index": 0}], [{"node": "Email Bienvenida frio", "type": "main", "index": 0}]]},
      "Email Bienvenida quente": {"main": [[{"node": "Responder", "type": "main", "index": 0}]]},
      "Email Bienvenida frio": {"main": [[{"node": "Responder", "type": "main", "index": 0}]]}
    },
    "settings": {"executionOrder": "v1"},
    "staticData": null,
    "description": "Recibe leads del formulario, los califica por score y envia email de bienvenida segmentado"
  },
  {
    "name": "Support Ticket Automation",
    "nodes": [
      {
        "parameters": {
          "httpMethod": {"__rl": true, "mode": "list", "value": "POST"},
          "path": "soporte-ticket",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "node-webhook-1",
        "name": "Webhook Trigger",
        "type": "@n8n/n8n-nodes-base.webhook",
        "typeVersion": 2.2,
        "webhookId": "soporte-ticket",
        "position": [250, 300]
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\nlet priority = \"medium\";\nlet category = \"general\";\nconst msg = (body.mensaje || body.description || \"\").toLowerCase();\nif (msg.includes(\"urgente\") || msg.includes(\"down\") || msg.includes(\"no funciona\")) {\n  priority = \"high\"; category = \"technical\";\n} else if (msg.includes(\"factura\") || msg.includes(\"pago\") || msg.includes(\"cobro\")) {\n  priority = \"low\"; category = \"billing\";\n}\nreturn [{json: {...body, ticket_priority: priority, ticket_category: category, createdAt: new Date().toISOString()}}];"
        },
        "id": "node-code-1",
        "name": "Clasificar Ticket",
        "type": "@n8n/n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [550, 300]
      },
      {
        "parameters": {
          "to": "={{ $json.email }}",
          "subject": "[URGENTE] Recibimos tu consulta - Sural",
          "text": "=Hola {{ $json.nombre }},\\n\\nRecibimos tu mensaje urgente. Nuestro equipo tecnico esta siendo notificado y te responderemos en menos de 1 hora.\\n\\nEquipo Sural - Soporte",
          "options": {}
        },
        "id": "node-email-1",
        "name": "Respuesta Urgente",
        "type": "@n8n/n8n-nodes-base.emailSend",
        "typeVersion": 1.6,
        "position": [850, 150]
      },
      {
        "parameters": {
          "to": "={{ $json.email }}",
          "subject": "Recibimos tu consulta - Sural",
          "text": "=Hola {{ $json.nombre }},\\n\\nGracias por contactingarnos. Tu consulta sera respondida en las proximas 24 horas.\\n\\nEquipo Sural",
          "options": {}
        },
        "id": "node-email-2",
        "name": "Respuesta Normal",
        "type": "@n8n/n8n-nodes-base.emailSend",
        "typeVersion": 1.6,
        "position": [850, 450]
      },
      {
        "parameters": {
          "respondWith": {"__rl": true, "mode": "json", "value": "{\"status\": \"ok\", \"ticket_created\": true}"},
          "options": {}
        },
        "id": "node-respond-1",
        "name": "Responder",
        "type": "@n8n/n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [1150, 300]
      }
    ],
    "connections": {
      "Webhook Trigger": {"main": [[{"node": "Clasificar Ticket", "type": "main", "index": 0}]]},
      "Clasificar Ticket": {"main": [[{"node": "Respuesta Urgente", "type": "main", "index": 0}], [{"node": "Respuesta Normal", "type": "main", "index": 0}]]},
      "Respuesta Urgente": {"main": [[{"node": "Responder", "type": "main", "index": 0}]]},
      "Respuesta Normal": {"main": [[{"node": "Responder", "type": "main", "index": 0}]]}
    },
    "settings": {"executionOrder": "v1"},
    "description": "Recibe tickets de soporte, clasifica por prioridad y responde automaticamente"
  },
  {
    "name": "Marketing Nurturing Sequence",
    "nodes": [
      {
        "parameters": {
          "httpMethod": {"__rl": true, "mode": "list", "value": "POST"},
          "path": "marketing-new-lead",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "node-webhook-1",
        "name": "Webhook Trigger",
        "type": "@n8n/n8n-nodes-base.webhook",
        "typeVersion": 2.2,
        "webhookId": "marketing-new-lead",
        "position": [250, 300]
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{json: {email: body.email, nombre: body.nombre, empresa: body.empresa, interes: body.interes}}];"
        },
        "id": "node-code-1",
        "name": "Guardar Datos",
        "type": "@n8n/n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [550, 300]
      },
      {
        "parameters": {
          "to": "={{ $json.email }}",
          "subject": "Bienvenido {{ $json.nombre }}, estas a un paso de automatizar tu negocio - Sural",
          "text": "=Hola {{ $json.nombre }},\\n\\nBienvenido a Sural! Estamos muy contentos de que {{ $json.empresa }} este interesado en automatizar {{ $json.interes }}.\\n\\nEn los proximos dias te vamos a compartir casos de exito y una guia de automatizacion.\\n\\nEquipo Sural",
          "options": {}
        },
        "id": "node-email-1",
        "name": "Email Dia 0",
        "type": "@n8n/n8n-nodes-base.emailSend",
        "typeVersion": 1.6,
        "position": [850, 200]
      },
      {
        "parameters": {
          "operation": "timeDelay",
          "amount": 3,
          "unit": "days",
          "options": {}
        },
        "id": "node-delay-1",
        "name": "Esperar 3 dias",
        "type": "@n8n/n8n-nodes-base.delay",
        "typeVersion": 2.3,
        "position": [1150, 200]
      },
      {
        "parameters": {
          "to": "={{ $json.email }}",
          "subject": "{{ $json.nombre }}, 3 tips para automatizar tu empresa hoy - Sural",
          "text": "=Hola {{ $json.nombre }},\\n\\nTe queria compartir 3 automatizaciones que pueden cambiar el juego en {{ $json.empresa }}\\n\\n1. Respuestas automaticas en WhatsApp\\n2. Captura de leads automatica\\n3. Seguimiento inteligente\\n\\nQueres ver como funciona? Agendamos 15 minutos\\n\\nMarcos",
          "options": {}
        },
        "id": "node-email-2",
        "name": "Email Educativo",
        "type": "@n8n/n8n-nodes-base.emailSend",
        "typeVersion": 1.6,
        "position": [1450, 200]
      },
      {
        "parameters": {
          "operation": "timeDelay",
          "amount": 7,
          "unit": "days",
          "options": {}
        },
        "id": "node-delay-2",
        "name": "Esperar 7 dias",
        "type": "@n8n/n8n-nodes-base.delay",
        "typeVersion": 2.3,
        "position": [1750, 200]
      },
      {
        "parameters": {
          "to": "={{ $json.email }}",
          "subject": "{{ $json.nombre }}, oferta especial para {{ $json.empresa }} - Sural",
          "text": "=Hola {{ $json.nombre }},\\n\\nDesde que te contactaste con nosotros, tenemos una oferta especial para vos:\\n\\nImplementacion gratuita para las primeras empresas este mes.\\n\\nSolo agendar una llamada de 20 minutos.\\n\\nMarcos",
          "options": {}
        },
        "id": "node-email-3",
        "name": "Email Oferta",
        "type": "@n8n/n8n-nodes-base.emailSend",
        "typeVersion": 1.6,
        "position": [2050, 200]
      },
      {
        "parameters": {
          "respondWith": {"__rl": true, "mode": "json", "value": "{\"status\": \"ok\", \"sequence\": \"started\"}"},
          "options": {}
        },
        "id": "node-respond-1",
        "name": "Fin",
        "type": "@n8n/n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [2350, 200]
      }
    ],
    "connections": {
      "Webhook Trigger": {"main": [[{"node": "Guardar Datos", "type": "main", "index": 0}]]},
      "Guardar Datos": {"main": [[{"node": "Email Dia 0", "type": "main", "index": 0}]]},
      "Email Dia 0": {"main": [[{"node": "Esperar 3 dias", "type": "main", "index": 0}]]},
      "Esperar 3 dias": {"main": [[{"node": "Email Educativo", "type": "main", "index": 0}]]},
      "Email Educativo": {"main": [[{"node": "Esperar 7 dias", "type": "main", "index": 0}]]},
      "Esperar 7 dias": {"main": [[{"node": "Email Oferta", "type": "main", "index": 0}]]},
      "Email Oferta": {"main": [[{"node": "Fin", "type": "main", "index": 0}]]}
    },
    "settings": {"executionOrder": "v1"},
    "description": "Nurturing automatizado: email de bienvenida + educacion a los 3 dias + oferta a los 7 dias"
  },
  {
    "name": "Weekly Follow-up",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [{"field": "cron", "value": "0 9 * * 1"}]
          }
        },
        "id": "node-sched-1",
        "name": "Schedule Trigger",
        "type": "@n8n/n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [250, 300]
      },
      {
        "parameters": {
          "respondWith": {"__rl": true, "mode": "json", "value": "{\"status\": \"ok\", \"message\": \"Weekly follow-up check\"}"},
          "options": {}
        },
        "id": "node-respond-1",
        "name": "Fin",
        "type": "@n8n/n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [550, 300]
      }
    ],
    "connections": {
      "Schedule Trigger": {"main": [[{"node": "Fin", "type": "main", "index": 0}]]}
    },
    "settings": {"executionOrder": "v1"},
    "description": "Se ejecuta cada lunes a las 9am para revisar leads pendientes"
  }
]
