workflows/n8n_workflows_v2.json
[
  {
    "name": "Lead Reception & Qualification",
    "nodes": [
      {
        "parameters": {
          "httpMethod": {"__rl": true, "mode": "list", "value": "POST"},
          "path": "lead-calificacion",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "wh1",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "webhookId": "lead-calificacion",
        "position": [250, 300]
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json;\nconst body = d.body || d;\nlet score = 0;\nlet tag = \"lead_frio\";\nif (body.email && body.email.includes(\"@\")) score += 20;\nif (body.telefono && body.telefono.length > 7) score += 25;\nif (body.empresa) score += 15;\nif (body.mensaje && body.mensaje.length > 20) score += 20;\nif (body.interes === \"plataforma completa\") { score += 20; tag = \"lead_quente\"; }\nelse if (body.interes === \"automatizacion\") { score += 15; tag = \"lead_morno\"; }\nconst tam = body.empleados || \"\";\nif (tam.includes(\"21\") || tam.includes(\"51\")) { score += 15; tag = \"lead_quente\"; }\nconst result = {...body, lead_score: score, lead_tag: tag, timestamp: new Date().toISOString()};\nreturn [{json: result}, {json: {...result, branch: result.lead_score >= 50 ? \"quente\" : \"frio\"}}];"
        },
        "id": "code1",
        "name": "Procesar Lead",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [550, 300]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst quente = items.find(i => i.json.branch === \"quente\");\nconst frio = items.find(i => i.json.branch === \"frio\");\nif (quente) return [quente];\nreturn [frio];"
        },
        "id": "code2",
        "name": "Routing quente",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [850, 150]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst quente = items.find(i => i.json.branch === \"quente\");\nconst frio = items.find(i => i.json.branch === \"frio\");\nif (frio) return [frio];\nreturn [quente];"
        },
        "id": "code3",
        "name": "Routing frio",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [850, 450]
      },
      {
        "parameters": {
          "to": "={{ $json.email }}",
          "subject": "Gracias {{ $json.nombre }} - Sural",
          "text": "=Hola {{ $json.nombre }},\\n\\nGracias por tu interes en Sural. Te responderemos en las proximas 2 horas.\\n\\nEquipo Sural",
          "options": {}
        },
        "id": "em1",
        "name": "Email quente",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "position": [1150, 150]
      },
      {
        "parameters": {
          "to": "={{ $json.email }}",
          "subject": "Hola {{ $json.nombre }} - Sural",
          "text": "=Hola {{ $json.nombre }},\\n\\nGracias por contactingarnos. Te dejamos algunos recursos mientras.\\n\\nEquipo Sural",
          "options": {}
        },
        "id": "em2",
        "name": "Email frio",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "position": [1150, 450]
      },
      {
        "parameters": {
          "respondWith": {"__rl": true, "mode": "json", "value": "{\"status\": \"ok\"}"},
          "options": {}
        },
        "id": "resp1",
        "name": "Responder quente",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1450, 150]
      },
      {
        "parameters": {
          "respondWith": {"__rl": true, "mode": "json", "value": "{\"status\": \"ok\"}"},
          "options": {}
        },
        "id": "resp2",
        "name": "Responder frio",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1450, 450]
      }
    ],
    "connections": {
      "Webhook Trigger": {"main": [[{"node": "Procesar Lead", "type": "main", "index": 0}]]},
      "Procesar Lead": {"main": [[{"node": "Routing quente", "type": "main", "index": 0}], [{"node": "Routing frio", "type": "main", "index": 0}]]},
      "Routing quente": {"main": [[{"node": "Email quente", "type": "main", "index": 0}]]},
      "Routing frio": {"main": [[{"node": "Email frio", "type": "main", "index": 0}]]},
      "Email quente": {"main": [[{"node": "Responder quente", "type": "main", "index": 0}]]},
      "Email frio": {"main": [[{"node": "Responder frio", "type": "main", "index": 0}]]}
    }
  },
  {
    "name": "Support Ticket Automation",
    "nodes": [
      {
        "parameters": {
          "httpMethod": {"__rl": true, "mode": "list", "value": "POST"},
          "path": "soporte-ticket",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "wh2",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "webhookId": "soporte-ticket",
        "position": [250, 300]
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\nlet priority = \"normal\";\nconst msg = (body.mensaje || \"\").toLowerCase();\nif (msg.includes(\"urgente\") || msg.includes(\"down\")) priority = \"urgente\";\nelse if (msg.includes(\"factura\") || msg.includes(\"pago\")) priority = \"facturacion\";\nconst result = {...body, priority: priority, ticket_id: Date.now().toString()};\nreturn [{json: result}, {json: {...result, branch: priority === \"urgente\" ? \"urgente\" : \"normal\"}}];"
        },
        "id": "code2a",
        "name": "Clasificar",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [550, 300]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nreturn items.filter(i => i.json.branch === \"urgente\");"
        },
        "id": "code2b",
        "name": "Split urgente",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [850, 150]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nreturn items.filter(i => i.json.branch !== \"urgente\");"
        },
        "id": "code2c",
        "name": "Split normal",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [850, 450]
      },
      {
        "parameters": {
          "to": "={{ $json.email }}",
          "subject": "[URGENTE] Recibimos tu consulta - Sural",
          "text": "=Hola {{ $json.nombre }},\\n\\nRecibimos tu mensaje urgente. Te respondemos en menos de 1 hora.\\n\\nEquipo Sural",
          "options": {}
        },
        "id": "em2a",
        "name": "Email urgente",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "position": [1150, 150]
      },
      {
        "parameters": {
          "to": "={{ $json.email }}",
          "subject": "Recibimos tu consulta - Sural",
          "text": "=Hola {{ $json.nombre }},\\n\\nGracias por contactingarnos. Te responderemos en 24 horas.\\n\\nEquipo Sural",
          "options": {}
        },
        "id": "em2b",
        "name": "Email normal",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "position": [1150, 450]
      },
      {
        "parameters": {
          "respondWith": {"__rl": true, "mode": "json", "value": "{\"status\": \"ok\", \"ticket_id\": \"{{ $json.ticket_id }}\"}"},
          "options": {}
        },
        "id": "resp2a",
        "name": "Fin urgente",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1450, 150]
      },
      {
        "parameters": {
          "respondWith": {"__rl": true, "mode": "json", "value": "{\"status\": \"ok\", \"ticket_id\": \"{{ $json.ticket_id }}\"}"},
          "options": {}
        },
        "id": "resp2b",
        "name": "Fin normal",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1450, 450]
      }
    ],
    "connections": {
      "Webhook Trigger": {"main": [[{"node": "Clasificar", "type": "main", "index": 0}]]},
      "Clasificar": {"main": [[{"node": "Split urgente", "type": "main", "index": 0}], [{"node": "Split normal", "type": "main", "index": 0}]]},
      "Split urgente": {"main": [[{"node": "Email urgente", "type": "main", "index": 0}]]},
      "Split normal": {"main": [[{"node": "Email normal", "type": "main", "index": 0}]]},
      "Email urgente": {"main": [[{"node": "Fin urgente", "type": "main", "index": 0}]]},
      "Email normal": {"main": [[{"node": "Fin normal", "type": "main", "index": 0}]]}
    }
  },
  {
    "name": "Marketing Nurturing Sequence",
    "nodes": [
      {
        "parameters": {
          "httpMethod": {"__rl": true, "mode": "list", "value": "POST"},
          "path": "marketing-new-lead",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "wh3",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "webhookId": "marketing-new-lead",
        "position": [250, 300]
      },
      {
        "parameters": {
          "to": "={{ $json.body.email }}",
          "subject": "Bienvenido {{ $json.body.nombre }} - Sural",
          "text": "=Hola {{ $json.body.nombre }},\\n\\nGracias por tu interes en Sural. En los proximos dias te enviaremos contenido exclusivo.\\n\\nEquipo Sural",
          "options": {}
        },
        "id": "em3a",
        "name": "Email dia 0",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "position": [550, 200]
      },
      {
        "parameters": {
          "action": "timeDelay",
          "delayAmount": 3,
          "unit": "days",
          "options": {}
        },
        "id": "wait3a",
        "name": "Esperar 3 dias",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [850, 200]
      },
      {
        "parameters": {
          "to": "={{ $json.body.email }}",
          "subject": "{{ $json.body.nombre }}, 3 tips para automatizar - Sural",
          "text": "=Hola {{ $json.body.nombre }},\\n\\n3 automatizaciones que pueden ayudar a {{ $json.body.empresa }}.\\n\\n1. WhatsApp 24/7\\n2. Captura automatica de leads\\n3. Seguimiento inteligente\\n\\nQueres ver una demo? Agenda aqui.\\n\\nMarcos - Sural",
          "options": {}
        },
        "id": "em3b",
        "name": "Email dia 3",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "position": [1150, 200]
      },
      {
        "parameters": {
          "action": "timeDelay",
          "delayAmount": 7,
          "unit": "days",
          "options": {}
        },
        "id": "wait3b",
        "name": "Esperar 7 dias",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [1450, 200]
      },
      {
        "parameters": {
          "to": "={{ $json.body.email }}",
          "subject": "{{ $json.body.nombre }}, oferta especial - Sural",
          "text": "=Hola {{ $json.body.nombre }},\\n\\nImplementacion gratuita para empresas que se inscriban este mes.\\n\\nAgenda tu llamada de 20 minutos aqui.\\n\\nMarcos - Sural",
          "options": {}
        },
        "id": "em3c",
        "name": "Email oferta",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "position": [1750, 200]
      },
      {
        "parameters": {
          "respondWith": {"__rl": true, "mode": "json", "value": "{\"status\": \"ok\", \"sequence\": \"started\"}"},
          "options": {}
        },
        "id": "resp3",
        "name": "Fin",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [2050, 200]
      }
    ],
    "connections": {
      "Webhook Trigger": {"main": [[{"node": "Email dia 0", "type": "main", "index": 0}]]},
      "Email dia 0": {"main": [[{"node": "Esperar 3 dias", "type": "main", "index": 0}]]},
      "Esperar 3 dias": {"main": [[{"node": "Email dia 3", "type": "main", "index": 0}]]},
      "Email dia 3": {"main": [[{"node": "Esperar 7 dias", "type": "main", "index": 0}]]},
      "Esperar 7 dias": {"main": [[{"node": "Email oferta", "type": "main", "index": 0}]]},
      "Email oferta": {"main": [[{"node": "Fin", "type": "main", "index": 0}]]}
    }
  },
  {
    "name": "Weekly Follow-up",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [{"field": "cron", "value": "0 9 * * 1"}]
          }
        },
        "id": "cr1",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.cron",
        "typeVersion": 1,
        "position": [250, 300]
      },
      {
        "parameters": {
          "jsCode": "console.log(\"Weekly follow-up running at: \" + new Date().toISOString());\nreturn [{json: {message: \"Weekly check complete\", timestamp: new Date().toISOString()}}];"
        },
        "id": "code4",
        "name": "Run Check",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [550, 300]
      }
    ],
    "connections": {
      "Schedule Trigger": {"main": [[{"node": "Run Check", "type": "main", "index": 0}]]}
    }
  }
]
